@import "../App.scss";

.sidebar
{
  width: 28rem;
  margin: 2rem 0 0 0;
  padding: 2rem 1.5rem;
  border: .1rem solid #e7e7e7;
  // background-color: $lightGreen-1;

  &__heading
  {
    padding-bottom: 1rem;
    font-size: 1.4rem;
  }

  &__category
  {
    padding-bottom: 1rem;
    border-bottom: .1rem solid #e7e7e7;
    font-size: 1.4rem;

    &-title
    {
      cursor: pointer;
      padding: 1rem 0;
    }
    
    &-choice
    {
      margin: 0 .5rem 1rem 1rem;
    }

    & label
    {
      transition: all .5s;
    }
  }
}